target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Terraform ###
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
plan.txt

# Keep Terraform provider lock file
!.terraform.lock.hcl
dist/
